@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(assets/browser.css);
@import url(assets/livestyle.css);
@import url(assets/editor.css);
@import url(assets/devices.css);
@import url(assets/slides.css);
@import url(assets/textarea.css);
@import url(assets/highlight.css);

p {
	margin-top: 0;
}

.qt {
	position: relative;
	background: #26bb9d;
	overflow: hidden;
	color: #fff;
	font-size: 16px;
	font-family: Lato, Tahoma, sans-serif;
}

.qt-screen {
	width: 960px;
	height: 550px;
	position: relative;
	margin: 0 auto;
}

.qt-app-icon__group {
	position: absolute;
	z-index: 10;
	left: 13px;
}

.qt-app-icon {
	width: 11px;
	height: 11px;
	background: #8e8e93;
	border: 1px solid #6e6f76;
	display: inline-block;
	margin-right: 6px;
	border-radius: 100%;
}

.qt-shade {
	position: absolute;
	background: #26bb9d;
	display: block;
	padding: 2px;
	margin: -2px;
	z-index: 1;
}

.qt-shade::before {
	content: '';
	display: block;
	width: 100px;
	height: 100%;
	left: -100px;
	position: absolute;
	background-image: linear-gradient(to right, rgba(38, 187, 157, 0.0), #26bb9d);
}

.qt-browser, .qt-editor {
	position: absolute;
	top: 0;
	left: 0;
}

.qt-browser {
	z-index: 3;
}

.qt-editor {
	z-index: 2;
}

.qt-focus-ring {
	position: absolute;
	display: inline-block;
	z-index: 10;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin: -38px;
	border: 3px solid #f1c22a;
	transform-origin: 50% 50%;
	box-shadow: 0px 0px 7px 0px #f1c22a;
}

.qt-browser .qt-focus-ring {
	right: 49px;
	top: 15px;
}

.qt-browser__content[data-qt-state="edit1"] {
	color: red;
}

.qt-browser__content[data-qt-state="edit2"] {
	color: blue;
}

.qt-browser__content[data-qt-state="edit3"] {
	color: blue;
	font-size: 1.3em;
}

.qt-browser__content[data-qt-state="edit4"] {
	color: blue;
	font-size: 1.3em;
	background: lightpink;
	height: 170px;
}

.qt-devices {
	text-align: center;
}

.qt-dev {
	margin: 15px 35px;
	position: relative;
	text-align: left;
}

.qt-text {
	margin: 0 0 1.5em;
	line-height: 1.4;
}

.qt-text-header {
	font-size: 4em;
	margin: 0 0 0.2em;
	line-height: 1;
	font-weight: normal;
	/* display: inline-block; */
}

.qt-text-subheader {
	font-size: 1.5em;
	line-height: 1;
	font-weight: normal;
	margin: 0;
}

.qt-download__btn {
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px 25px;
	font-size: 2em;
	cursor: pointer;
	transition: background-color 0.4s;
}

.qt-download__btn:hover {
	background: rgba(255, 255, 255, 0.2);
}

.qt-download__comment {
	font-size: 0.7em;
}

.qt-play-again {
	position: absolute;
	bottom: 5px;
	right: 40px;
	font-size: 13px;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
	line-height: 1.2;
	cursor: pointer;
	transition: border-color 0.3s;
}

.qt-play-again::after {
	content: url('./assets/repeat.svg');
	width: 20px;
	height: 20px;
	position: absolute;
	margin-top: -0.2em;
	margin-left: 0.2em;
	transition: transform 0.3s;
}

.qt-play-again:hover {
	border-color: #fff;
}

.qt-play-again:hover::after {
	transform: rotate(45deg);
}

.qt-hidden {
	display: none;
}