.qt-text {
	margin: 0 0 1.5em;
	line-height: 1.4;
}

.qt-text-header {
	font-size: 5em;
	margin: 0 0 0.2em;
	line-height: 1;
	font-weight: normal;
	/* display: inline-block; */
}

.qt-text-subheader {
	font-size: 1.5em;
	line-height: 1;
	font-weight: normal;
	margin: 0;
}

.qt-slide {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	line-height: 1.5;
	font-size: 21px;
}

.qt-slide_hidden {
	margin-top: -1000px;
}

.qt-livestyle__rv {
	display: none;
}

/* .qt-livestyle {
	visibility: hidden;
} */

.qt-slide1 {
	text-align: center;
	top: 50%;
	margin-top: -5em;
}

.qt-slide2 {
	text-align: center;
	top: 65px;
	width: 580px;
	left: 190px;
	margin: 0 auto;
}

.qt-slide3 {
	width: 305px;
	left: 580px;
	top: 20px;
}